{% extends 'base.html' %}

{% block body %}
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/maps.css') }}">

<main>

  <h1>Displaying Data</h1>

  <select name='day'>
    <option value='one'>Day 1</option>
    <option value='two'>Day 2</option>
    <option value='three'>Day 3</option>
  </select>
  <button>Submit</button>


  <div id='us-map'>
  </div>

<main>

<script src='{{ url_for('static', filename='js/maps.js') }}'></script>
{% endblock %}

