{% extends 'base.html' %}

{% block body %}
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/maps.css') }}">

<main>

  <h1>Displaying Data</h1>

  <select id='option_box'>
    <option value='1'>WED, March 14th, 2018</option>
    <option value='2'>THU, March 15th, 2018</option>
    <option value='3'>FRI, March 16th, 2018</option>
    <option value='4'>SAT, March 17th, 2018</option>
    <option value='5'>SUN, March 18th, 2018</option>
    <option value='6'>MON, March 19th, 2018</option>
    <option value='7'>TUE, March 20th, 2018</option>
    <option value='8'>WED, March 21st, 2018</option>
    <option value='9'>THU, March 22nd, 2018</option>
  </select>
  <br>
  <button onclick='get_day();'>Submit</button>

  <p>LOWER <span class='one'></span><span class='two'></span><span class='three'></span><span class='four'></span><span class='five'></span> HIGHER</p>
    <p>Hover Over State to See Exact Values</p>



  <div id='us-map'>
  </div>

<main>

<script src='{{ url_for('static', filename='js/maps.js') }}'></script>
{% endblock %}

